/*
    color-scheme

    3C3658
    6B616E
    BDAAA1
    F2DCB9
    F7E0AE
 */

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    background-image: linear-gradient(#F7E0AE, #F2DCB9);
}

marker.live
{
    fill: #6B616E;
}

marker.dead
{
    fill: #BDAAA1;
}

.node {
    fill: #F2DCB9;
    stroke: #6B616E;
    stroke-width: 3;

    cursor: pointer;
}

.node.dead,
.link.dead
{
    fill: #F2DCB9;
    stroke: #BDAAA1;
}

.node text
{
    font-family: Menlo, Consolas, Courier, sans-serif;

    fill: #6B616E;

    pointer-events: none;
}

.node .labels {
    font-size: 15px;
    stroke-width: 0;
}

.node text {
    font-size: 11px;
    font-weight: 400;

    cursor: pointer;

    stroke: #6B616E;
    stroke-width: 0.5;
}

.node.dead text
{
    stroke: #BDAAA1;
}

.link
{
    stroke: #6B616E;
    stroke-width: 3;
}

.commandLine
{
    font-family: Menlo, Consolas;
    font-size: 400%;

    margin: 0;
    padding: 3px 25px 3px 25px;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    width: 100%;

    border: none;
    border-bottom: 1px solid #999;
    outline: none;

    color: #666;

    background-color: transparent;

}
