/*
    color-scheme

    3C3658
    6B616E
    BDAAA1
    F2DCB9
    F7E0AE
 */

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    background-image: linear-gradient(#F7E0AE, #F2DCB9);
}

marker.live
{
    fill: #6B616E;
}

marker.dead
{
    fill: #BDAAA1;
}

.node
{
    fill: #F2DCB9;
    stroke: #6B616E;
    stroke-width: 3;

    cursor: pointer;
}

.node.dead,
.link.dead
{
    fill: #F2DCB9;
    stroke: #BDAAA1;
}

.node text
{
    font: 11px/1 Menlo, Consolas, Courier, sans-serif;
    font-weight: 400;

    fill: #6B616E;
    stroke: #6B616E;
    stroke-width: 0.5;

    pointer-events: none;
    cursor: pointer;

    text-anchor: middle;
}

.node .labels
{
    font-size: 15px;
    stroke-width: 0;

    text-anchor: start;
}

.node.dead text
{
    stroke: #BDAAA1;
}

.link
{
    stroke: #6B616E;
    stroke-width: 3;
}

.command-line
{
    font: 300%/1em Menlo, Consolas, Courier, sans-serif;

    position: absolute;
    top: 50px;
    left: 50%;

    max-width: 90%;

    text-align: center;

    margin: 0;
    padding: 3px 25px 3px 25px;

    border: 3px solid;
    outline: none;

    -webkit-border-radius: 15px;
            border-radius: 15px;

    color: #666;

    background-color: rgba(255, 255, 255, 0.3);

    -webkit-box-shadow: 1px 0 50px rgba(189, 170, 161, 1);
            box-shadow: 1px 0 50px rgba(189, 170, 161, 1);

    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
}

.helper
{
    font: 80%/1em Menlo, Consolas, Courier, sans-serif;

    position: absolute;

    bottom: 1em;
    right: 2em;

    padding: 1em 1em 1em 2em;

    color: #666;

    -webkit-border-radius: 10px;
            border-radius: 10px;
    background-color: rgba(189, 170, 161, 0.5);
}

.helper li
{
    list-style: none;
    line-height: 1.2em;
}

.helper .up::before,
.helper .down::before,
.helper .enter::before
{
    font-size: 20px;
    position: absolute;

    margin-left: -.9em;

    color: #333;

    z-index: 0;
}

.helper .up::before
{
    content: '↑';
}

.helper .down::before
{
    content: '↓';
}

.helper .enter::before
{
    content: '↵';
}
